html, body {
    height: 100%;
}

.bg {
    /* background-image: url("../Slike/nba-wallpapers-19.jpg"); */
    background-image: url("/static/images/nba-wallpapers-19.jpg");
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 6vw;
    letter-spacing: 10px;
    text-align: left;
    background-image: linear-gradient(to right, rgba(128, 128, 128,1), rgba(0,0,0, 0));
    margin-bottom: 0;
    padding-left: 10px;
    color: black;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vw;
    background-color: rgba(166,166,166, 0.8);
    letter-spacing: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container2 {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 62.5%; /* 8:5 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}