{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
        <main>

            <div class="album py-5 bg-transparent">
                <div class="container">
            
                  <div class="row">
                    <div class="col-sm">
                      <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/ball.jfif') }}" alt="Lonzo Ball" width="200" height="250">
            
                        <div class="card-body">
                          <p class="card-text">Lonzo Ball</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                            </div>
                            <small class="text-muted"></small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/caruso.jfif') }}" alt="Alex Caruso" width="200" height="250">
            
                        <div class="card-body">
                          <p class="card-text">Alex Caruso</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                            </div>
                            <small class="text-muted"></small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/derozan.jfif') }}" alt="DeMar DeRozan" width="200" height="250">
            
                        <div class="card-body">
                          <p class="card-text">DeMar DeRozan</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                            </div>
                            <small class="text-muted"></small>
                          </div>
                        </div>
                      </div>
                    </div>
            
                    <div class="col-sm">
                      <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/lavine.jfif') }}" alt="Zach LaVine" width="200" height="250">
            
                        <div class="card-body">
                          <p class="card-text">Zach LaVine</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                            </div>
                            <small class="text-muted"></small>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <br><br>
                    <div class="container2">
                      <iframe class="responsive-iframe" src="https://www.rezultati.com/tim/chicago-bulls/bPjc49q0/"></iframe>
                    </div>

        </main>
{% endblock %}