{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
        <main>
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/LBJ1.jpg') }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/Kobe1.webp') }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/AI1.jpg') }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/KD1.jpg') }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/Jordan Pippen 1.jpg') }}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <br><br>
          
          <div class="container d-inline">
            <p class="ps-5 fs-1 fw-bold font-monospace bg-light bg-opacity-75">Vijesti</p>
          </div>
          
          <div class="d-flex justify-content-center">
            <iframe src="https://www.index.hr/tag/2208/nba.aspx" style="width: 90vw; height: 30vw;"></iframe>
          </div>

        </main>
{% endblock %}